<ul>
    <li><a (click)="openloginmodal()">SingIN</a></li>
    <li><a routerLink="/signup">Sign Up</a></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/advertising">paginstaion</a></li>
</ul>

