<app-modal title="Media">
        <div class="alert alert-danger" *ngIf="error">
            <div>
                {{error}}
            </div>
        </div>    
        <div class="form-group">
            <label for="iam"> I Am </label>
            <select (change)="getType($event)">
                <option value="">select type</option>
                <option value="2" selected>Media seller</option>
                <option value="3" >Adversiter</option>
            </select>
        </div>
    <form [formGroup]="mediaForm" (ngSubmit)="onSubmitMedia()">
        <div class="form-group">
            <label for="businessName">Business Name:</label>
            <input class="form-control" formControlName="businessName"
                [ngClass]="{ 'is-invalid': submitted && m.businessName.errors }" />
            <div *ngIf="submitted && m.businessName.errors" class="invalid-feedback">
                <div *ngIf="m.businessName.errors.required">Business Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="businessName">Market Name:</label>
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" >
            <div *ngIf="submitted && m.businessName.errors" class="invalid-feedback">
                <div *ngIf="m.businessName.errors.required">Business Name is required</div>
            </div>
        </div>
        <!-- {{categoryArr|json}} -->
        <div class="form-group">
            <label for="select category">Select Category:</label>
            <select class="form-control" formControlName="selCategory"
                [ngClass]="{ 'is-invalid': submitted && m.selCategory.errors }" (change)="getCategory($event)">
                <option value="">Select Category</option>
                <optgroup *ngFor="let category of categoryArr" label="{{category.name}}">
                    <option *ngFor="let cats of category.assetAdOption" value="{{cats.id}}" [attr.data-categoryId]="category.catId" [attr.data-assetCategoryId]="category.id">{{cats.name}}</option>
                </optgroup>
            </select>
            <div *ngIf="submitted && m.selCategory.errors" class="invalid-feedback">
                <div *ngIf="m.selCategory.errors.required">Category is required</div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</app-modal>