<!-- <app-modal title="Login the App"> -->
    
<!-- </app-modal> -->
  
 <button (click)="registerComponent()">OTP</button>
<button (click)="mediasellerComponent()">mediaForm</button>
<button (click)="open()">Adversiter</button>
<button (click)="test()">Test</button>

<!-- <button type="button" data-toggle="modal" data-target="#modal2">Registration</button>

<button type="button" data-toggle="modal" data-target="#modal3">Password</button> -->

<!-- <ng-template #model let-modal>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title" id="myModalLabel">sdfas</h4>
	</div>
	<div class="modal-body">
		<form #emailForm="ngForm" (ngSubmit)="checkEmailExits()">
			<div class="form-group">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="email" required
					#username="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" #testmail />
				<div *ngIf="username.invalid && (username.dirty || username.touched)"
					class="alert alert-danger">

					<div *ngIf="username.errors.required">
						Email is required.
					</div>
					<div *ngIf="username.errors.pattern">
						Please enter valid Email
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" data-toggle="modal"
					[disabled]="emailForm.invalid"> Submit</button>
			</div>
		</form>
	</div>
</ng-template>

<a (click)="open(modal)">SingIN</a>


<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Sigin</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form #emailForm="ngForm" (ngSubmit)="checkEmailExits()">
			<div class="form-group">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" name="email" [(ngModel)]="email" required #username="ngModel"
					pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" #testmail />
				<div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

					<div *ngIf="username.errors.required">
						Email is required.
					</div>
					<div *ngIf="username.errors.pattern">
						Please enter valid Email
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" data-toggle="modal" [disabled]="emailForm.invalid"> Submit</button>
				<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
			</div>
		</form>
	</div>
</ng-template>

<ng-template #modal1 let-modal id="modal1">
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="registerForm" (ngSubmit)="onSubmitReg()">
			<div class="form-group">
				<label for="firstname">First Name:</label>
				<input class="form-control" name="firstName" formControlName="firstName"
					[ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
				<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
					<div *ngIf="f.firstName.errors.required">First Name is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="Lastname">Last Name:</label>
				<input class="form-control" name="lastName" formControlName="lastName"
					[ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
				<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
					<div *ngIf="f.lastName.errors.required">Last Name is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" name="email" formControlName="email"
					[ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
				<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
					<div *ngIf="f.email.errors.required">Email is required</div>
					<div *ngIf="f.email.errors.email">Please enter valid Email.</div>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" name="password" formControlName="password"
					[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">Password is required.</div>
					<div *ngIf="f.password.errors.minlength">Password must be 6 char.</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</ng-template>


<ng-template #modal2 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form #passwordForm="ngForm">
			<div class="form-group">
				<label for="password">Password address:</label>
				<input type="password" class="form-control" name="password" [(ngModel)]="password" required
					#pass="ngModel" />
				<div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
					<div *ngIf="pass.errors.required">
						Password is required.
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" [disabled]="passwordForm.invalid"> Submit</button>
			</div>
		</form>
	</div>
</ng-template> -->




<!-- <app-modal id="custom-modal-1">
		<h1>A Custom Modal!</h1>
		<p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
		<button (click)="closeModal('custom-modal-1');">Close</button>
	</app-modal>
	
	<app-modal id="custom-modal-2">
		<h1>A Custom Modal!</h1>
	
	</app-modal> -->
