<app-modal title="Login">
    <form #emailForm="ngForm" (ngSubmit)="checkEmailExits()">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email" required
                #username="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" #testmail />
            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                class="alert alert-danger">
                
                <div *ngIf="username.errors.required">
                    Email is required.
                </div>
                <div *ngIf="username.errors.pattern">
                    Please enter valid Email
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-toggle="modal"
                [disabled]="emailForm.invalid"> Submit</button>
        </div>
    </form>
</app-modal>