<select (change)="getType($event)">
        <option *ngFor="let cats of mediaSellerData" value="{{cats.assetType}}">{{cats.assetType}}</option>
</select>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6" *ngFor="let item of listArr">
            <div class="card hovercard">
                <div class="avatar">
                    <img src="{{item.coverImage}}">
                </div>
                <div class="info">
                    <div class="title">
                        <div>{{item.title}}</div>
                    </div>
                    <div class="desc">{{item.assetLocation[0].area ? item.assetLocation[0].area : item.assetLocation[0].city}}</div>
                    <!-- <div class="desc">{{item.rate ? item.currencySign+' '+item.rate : ''}}</div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="pageRecord">
        <button [ngClass]="(pageRecord.totalRecord == pageRecord.total) ? 'disabled' : 'enabled'"
            (click)="loadMore()">Load More</button>
    </div>
</div>