<app-modal title="Adversiter">
        <div class="alert alert-danger" *ngIf="error">
            <div>
                {{error}}
            </div>
        </div>     
        <div class="form-group">
            <label for="iam"> I Am </label>
            <select (change)="getType($event)">
                <option value="">select type</option>
                <option value="2">Media seller</option>
                <option value="3" selected>Adversiter</option>
            </select>
        </div>
    <form [formGroup]="adveForm" (ngSubmit)="onSubmitAdv()">
                
            <div class="form-group">
                <label for="businessName">Business Name:</label>
                <input class="form-control" formControlName="businessName" [ngClass]="{ 'is-invalid': submitted && a.businessName.errors }" />
                <div *ngIf="submitted && a.businessName.errors" class="invalid-feedback">
                    <div *ngIf="a.businessName.errors.required">Business Name is required</div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="businessName">Business Category:</label>
                
                <select class="form-control" formControlName="businessCategory" [ngClass]="{ 'is-invalid': submitted && a.businessCategory.errors }">
                    <option value="">Select market</option>
                    <option *ngFor="let category of businessCatObj"  [ngValue]="category.id">{{category.name}}</option>
                </select>

                <div *ngIf="submitted && a.businessCategory.errors" class="invalid-feedback">
                    <div *ngIf="a.businessCategory.errors.required">Business Category is required</div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-primary">Submit</button>
            </div>

        </form>
</app-modal>