<app-modal title="OTP">
    <div class="alert alert-danger" *ngIf="error">
        <div>
            {{error}}
        </div>
    </div>
    <form (ngSubmit)="checkOtp()">
        <div class="form-group center">
            <ng-otp-input (keypress)="numberOnly($event)" (onInputChange)="onOtpChange($event)" [config]="{length:6}">
            </ng-otp-input>
        </div>
        <div class="form-group center" *ngIf="timeFormat != '00 : 00'">Resend In {{timeFormat}} Second</div>
        <div class="form-group center" *ngIf="timeFormat == '00 : 00'">
            <a onClick="resend()">Resend</a>
        </div>
        <div class="modal-footer">
            <button [ngClass]="(visibleBtn) ? 'enabled' : 'disabled'" class="btn btn-primary"
                class="btn btn-primary">Submit</button>
        </div>
    </form>
</app-modal>