<app-modal title="login">
    <div class="alert alert-danger" *ngIf="errorMsg">
        <div>
            {{errorMsg}}
        </div>
    </div>
    <form #passwordForm="ngForm" (ngSubmit)="userlogin()">
        <div class="form-group">
            <label for="password">Password address:</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required
                #pass="ngModel" />
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                <div *ngIf="pass.errors.required">
                    Password is required.
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="passwordForm.invalid"> Submit</button>
        </div>
    </form>
</app-modal>