<app-modal title="Registration">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitReg(formVariacao)">
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input class="form-control" name="firstName" formControlName="firstName"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="Lastname">Last Name:</label>
            <input class="form-control" name="lastName" formControlName="lastName"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Please enter valid Email.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required.</div>
                <div *ngIf="f.password.errors.minlength">Password must be 6 char.</div>
                <div *ngIf="f.password.errors.pattern">Password must be 1 char upper and 1 char smaller.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="conpassword">Conform Password:</label>
            <input type="password" class="form-control" formControlName="conpassword"
                [ngClass]="{ 'is-invalid': submitted && f.conpassword.errors }" />
            <div *ngIf="submitted && f.conpassword.errors" class="invalid-feedback">
                <div *ngIf="f.conpassword.errors.required">Conform Password is required.</div>
                <div *ngIf="f.conpassword.errors.notEquivalent">Conform Password not match.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="country">Select Country:</label>
            <select class="form-control" formControlName="country"
                [ngClass]="{ 'is-invalid': submitted && f.country.errors }" (change)="getCountryCode($event)">
                <option value="">Select County</option>
                <option *ngFor="let country of countyObj" [ngValue]="country.id" [attr.data-countryCode]="country.code">
                    {{country.name}}</option>
            </select>
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone Number">Phone No:</label>
            <input type="text" class="form-control" formControlName="number" (keypress)="numberOnly($event)"
                [ngClass]="{ 'is-invalid': submitted && f.number.errors }" numbersOnly />
            <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                <div *ngIf="f.number.errors.required">Phone no is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">I am:</label>
            <select class="form-control" formControlName="type"
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                <option value="">select type</option>
                <option value="2">Media seller</option>
                <option value="3">Adversiter</option>
            </select>
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">Please select field.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Next</button>
        </div>
    </form>
</app-modal>